@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:hover, a:focus {
  color: #ff6b09;
}

.orange {
  color: #ff6b09;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container, .general-problem {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container, .general-problem {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container, .general-problem {
    width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1344px) {
  .container, .general-problem {
    width: 1344px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.08em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:hover, a:focus {
  color: #ff6b09;
}

.orange {
  color: #ff6b09;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container, .general-problem {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container, .general-problem {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container, .general-problem {
    width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1344px) {
  .container, .general-problem {
    width: 1344px;
    padding: 0 15px;
  }
}

.section {
  padding-bottom: 50px;
}

@media screen and (min-width: 1344px) {
  .section {
    padding-bottom: 130px;
  }
}
.advantages__title {
  padding-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;
}

.advantages-list {
  margin: 0 auto;
  padding: 0;
}

.advantages-list__item {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages-list__item:focus, .advantages-list__item:hover {
  background-color: #ff6b09;
}
.advantages-list__item:focus .advantages-list__icon, .advantages-list__item:hover .advantages-list__icon {
  fill: #ffffff;
}
.advantages-list__item:focus .advantages-list__title,
.advantages-list__item:focus .advantage-list__text, .advantages-list__item:hover .advantages-list__title,
.advantages-list__item:hover .advantage-list__text {
  color: #ffffff;
}
.advantages-list__item:focus .advantages-list__title::after, .advantages-list__item:hover .advantages-list__title::after {
  background-color: #ffffff;
}

.advantages-list__icon {
  display: block;
  margin: 0 auto 20px;
  fill: #ff6b09;
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.429;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages-list__title::after {
  content: "";
  display: block;
  margin-top: 22px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.advantage-list__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__title {
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list__item {
    width: 334px;
    height: 334px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .advantages-list__icon {
    margin-bottom: 30px;
  }

  .advantages-list__title::after {
    margin-top: 24px;
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1344px) {
  .advantages-list__item:nth-child(2n+1) {
    margin-right: 20px;
  }
  .advantages-list__item:not(:nth-child(n+5)) {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1344px) {
  .advantages__title {
    padding-bottom: 50px;
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    text-align: left;
    letter-spacing: 0.03em;
  }

  .advantages-list__item {
    width: 424px;
    height: 396px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .advantages-list__item:not(:nth-child(3n)) {
    margin-right: 20px;
  }
  .advantages-list__item:not(:nth-child(n+4)) {
    margin-bottom: 20px;
  }

  .advantages-list__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.08em;
  }
  .advantages-list__title::after {
    margin-top: 16px;
    margin-bottom: 14px;
  }

  .advantage-list__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.555;
    text-align: center;
    letter-spacing: 0.08em;
  }
}
.features {
  margin-top: 30px;
}

.features-list_item {
  display: flex;
  align-items: center;
  width: 215px;
  height: 60px;
  left: 53px;
  margin-bottom: 30px;
}

.border-icon {
  border: 2px solid #ff6b09;
  width: 59px;
  height: 60px;
  margin-right: 17px;
}

.features-list_icon {
  padding: 10px 10px;
}

.features-list_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  text-align: left;
  letter-spacing: 0.08em;
  color: #111518;
  width: 146px;
  height: 60px;
  letter-spacing: 0.08em;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
  }
}
@media screen and (min-width: 1344px) {
  .features-list_item {
    width: 1344px;
    height: 102px;
  }

  .features-list {
    display: flex;
  }

  .features-list_icon {
    padding: 24px 24px;
  }

  .border-icon {
    border: 2px solid #ff6b09;
    width: 100px;
    height: 102px;
    margin-right: 17px;
  }

  .features-list_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    text-align: left;
    letter-spacing: 0.08em;
    color: #111518;
    width: 366px;
    height: 66px;
    letter-spacing: 0.08em;
  }
}
.general-problem {
  position: relative;
  padding-top: 50px;
}
.general-problem > h2 {
  width: 280px;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  text-align: left;
  letter-spacing: 0.03em;
}
.general-problem > h2 span {
  color: #ff6b09;
}
.general-problem > ul {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 27px;
  padding: 10px 14px 20px 30px;
}
.general-problem > ul > li {
  margin-top: 10px;
  flex-basis: 100%;
}
.general-problem > ul > li > h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 0.833;
  text-align: left;
  letter-spacing: 0.06em;
  color: #ff6b09;
}
.general-problem > ul > li > p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.428;
  text-align: left;
  letter-spacing: 0.08em;
  margin-top: 5px;
}
.general-problem-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 545px;
  background-color: #111518;
}
.general-problem-background > svg {
  display: none;
}
@media screen and (min-width: 768px) {
  .general-problem {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .general-problem > h2 {
    width: 568px;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    text-align: left;
    letter-spacing: 0.03em;
  }
  .general-problem > ul {
    justify-content: start;
    padding-top: 22px;
    padding-left: 74px;
    padding-bottom: 26px;
    margin-top: 25px;
  }
  .general-problem > ul > li {
    margin-top: 8px;
    margin-left: 22px;
    flex-basis: calc(100% / 2 - 22px);
  }
  .general-problem > ul > li > h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 0.08em;
  }
  .general-problem > ul > li > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.714;
    text-align: left;
    letter-spacing: 0.08em;
  }
  .general-problem-background {
    height: 340px;
  }
}
@media screen and (min-width: 1344px) {
  .general-problem {
    padding-top: 100px;
    padding-left: 183px;
    padding-right: 183px;
  }
  .general-problem > h2 {
    width: 866px;
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    text-align: left;
    letter-spacing: 0.03em;
  }
  .general-problem > ul {
    padding-top: 38px;
    padding-left: 74px;
    padding-right: 112px;
    padding-bottom: 62px;
    margin-top: 70px;
  }
  .general-problem > ul > li {
    margin-top: 32px;
    margin-left: 40px;
    flex-basis: calc(100% / 3 - 40px);
  }
  .general-problem > ul > li > h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.649;
    text-align: left;
    letter-spacing: 0.08em;
  }
  .general-problem > ul > li > p {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 0.08em;
    margin-top: 10px;
  }
  .general-problem-background {
    height: 560px;
  }
  .general-problem-background > svg {
    display: block;
    fill: #3d3d3d;
    width: 455px;
    height: 472px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.hero {
  background-color: #fff;
}

.hero__title {
  color: #111518;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;
}

.hero__undertitle {
  color: #b9b9b9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  margin-top: 30px;
}

.hero__text {
  color: #111518;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
}

.hero__text--accent {
  color: #ff6b09;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
}

.button {
  background-color: #ff6b09;
  padding: 16px 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.hero__img {
  width: 208px;
  height: 178px;
  background-image: url("/img-02-hero-320.41ff7180.png"), url("/img-01-hero-320.572a30ca.png");
  background-repeat: no-repeat;
  background-size: 178px 178px, 208px 149px;
  background-position: top 0 left 20px, top 10px left 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__img {
    background-image: url("/img-02-hero-320@2x.cd494897.png"), url("/img-01-hero-320@2x.115ab69c.png");
  }
}
.hero > .container, .hero > .general-problem {
  padding-top: 110px;
}

@media screen and (max-width: 767px) {
  .hero > .container, .hero > .general-problem {
    background-image: url("/img-bg-320.c1941f7f.png");
    background-repeat: no-repeat;
    height: 618px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 192dpi) and (max-width: 767px), screen and (max-width: 767px) and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero > .container, .hero > .general-problem {
    background-image: url("/img-bg-320@2x.606d8162.png");
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 332px;
    font-size: 26px;
    line-height: 1.308;
  }

  .hero__text {
    width: 302px;
  }

  .button {
    margin-left: 0;
  }

  .hero > .container, .hero > .general-problem {
    padding-top: 158px;
  }

  .hero__card {
    position: relative;
  }

  .hero__img {
    position: absolute;
    top: 13px;
    left: 332px;
    margin: 0;
    width: 376px;
    height: 320px;
    background-image: url("/img-02-hero-768.569b3409.png"), url("/img-01-hero-768.6c547b60.png");
    background-size: 321px 321px, 376px 267px;
    background-position: top 0 left 36px, top 17px left 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__img {
    background-image: url("/img-02-hero-768@2x.98681928.png"), url("/img-01-hero-768@2x.a90bf390.png");
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .hero > .container, .hero > .general-problem {
    background-image: url("/img-bg-768.288550a6.png");
    height: 557px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1343px), screen and (min-width: 768px) and (max-width: 1343px) and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1343px), screen and (min-width: 768px) and (max-width: 1343px) and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1343px) {
  .hero > .container, .hero > .general-problem {
    background-image: url("/img-bg-768@2x.5986ec8d.png");
  }
}
@media screen and (min-width: 1344px) {
  .hero {
    background-image: url("/img-bg-1344.a1750412.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 878px;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 1344px) and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 2dppx) and (min-width: 1344px) {
  .hero {
    background-image: url("/img-bg-1344@2x.55270b5b.png");
  }
}
@media screen and (min-width: 1344px) {
  .hero > .container, .hero > .general-problem {
    padding-top: 230px;
  }
}
@media screen and (min-width: 1344px) {
  .hero__title {
    font-size: 58px;
    line-height: 1.293;
    width: 642px;
  }
}
@media screen and (min-width: 1344px) {
  .hero__undertitle,
.hero__text,
.hero__text--accent {
    font-size: 20px;
    line-height: 1.65;
    width: 540px;
  }
}
@media screen and (min-width: 1344px) {
  .button {
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
    margin-top: 40px;
    padding: 27px 25px;
  }
}
@media screen and (min-width: 1344px) {
  .hero__img {
    top: -79px;
    left: 610px;
    width: 842px;
    height: 718px;
    background-image: url("/img-02-hero-1344.419b7fae.png"), url("/img-01-hero-1344.24930601.png");
    background-size: 718px 718px, 842px 602px;
    background-position: top 0 left 81px, top 38px left 0;
  }
}
@media screen and (min-width: 1344px) and (min-device-pixel-ratio: 2), screen and (min-width: 1344px) and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-width: 1344px) and (min-resolution: 2dppx) and (min-width: 1344px) {
  .hero__img {
    background-image: url("/img-02-hero-1344@2x.d0bf9d1a.png"), url("/img-01-hero-1344@2x.3a009af6.png");
  }
}
.header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
}

.header__logo {
  display: block;
  width: 80px;
  height: 29px;
  background-image: url("/logo-mob.27c41e25.svg");
  background-repeat: no-repeat;
}

.header__logo--white {
  display: block;
  width: 80px;
  height: 29px;
  background-image: url("/logo-mob-white.512d98e2.svg");
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.menu-btn {
  display: inline-flex;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  z-index: 10;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.icon-menu {
  width: 21px;
  height: 12px;
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
  fill: #ffffff;
}

.button--header.tablet {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(17, 21, 24, 0.9);
  background-size: 100vw 100vh;
  padding: 30px 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  z-index: 1;
}
@media screen and (max-width: 1343px) {
  .menu-container {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    height: 568px;
  }
}
.menu-container.is-open {
  display: block;
}

.site-nav a {
  color: currentColor;
}

.site-nav .link.current {
  color: #ff6b09;
}

.site-nav {
  margin-bottom: 50px;
}

.button--header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 12px;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  border: 2px solid #ff6b09;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
  }

  .menu-container {
    padding: 40px 40px;
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .menu-container {
    height: 1024px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo--white {
    width: 128px;
    height: 45px;
    margin-bottom: 72px;
    background-image: url("/logo-big-white.0ab6928d.svg");
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .site-nav {
    width: 332px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container.is-open .button--header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 128px;
    height: 45px;
    background-image: url("/logo-big.fff87073.svg");
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .button--header.tablet {
    display: block;
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    align-items: center;
  }
}
@media screen and (min-width: 1344px) {
  .button--header.tablet {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  .header {
    padding-top: 30px;
  }

  .menu-container {
    position: static;
    display: flex;
    padding: 0;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;
    color: #b9b9b9;
  }

  .header__logo--white {
    display: none;
  }

  .site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px 0 0;
  }
  .site-nav .item + .item {
    margin-left: 40px;
  }

  .button--header {
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
    padding: 26px 24px;
  }
}
.teacher-title {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.308;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.teacher-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  border: 1px solid #b9b9b9;
  margin-bottom: 30px;
}

.teacher-skill {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
}

.teacher-education {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #b9b9b9;
  margin-bottom: 10px;
}

.teacher-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-decoration-line: underline;
  color: #ff6b09;
}

@media screen and (max-width: 767px) {
  .teacher-img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .teacher {
    display: flex;
  }

  .teacher__right-side {
    margin-left: 41px;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */