<section class="our-programm-section section">
    <div class="container">
        <div class="our-programm">
            <H2 class="our-programm__h2">Наша программа</H2>
            <div class="our-programm_thumb">
                <svg width="20" height="200" >
                <line x1="20" y1="132" x2="20" y2="1430" stroke="white" stroke-width="1" />
            </svg>
            <ul class="our-programm__list">
                <li class=our-programm__list-outter>
                    <h3 class="our-programm__h3">1 семестр</h3>
                    <h4 class="our-programm__h4">— Grammar</h4>
                    <p class="our-programm__text">Nouns & Articles<br> Adjectives & Adverb</p>
                    <h4 class="our-programm__h4">— Vocabulary</h4>
                    <p class="our-programm__text">Family & Relations <br>People & Society</p>
                </li>
                <li class=our-programm__list-outter>
                    <h3 class="our-programm__h3">2 семестр</h3>
                    <h4 class="our-programm__h4">— Grammar</h4>
                    <p class="our-programm__text">Pronouns<br> Active Voice<br> Passive Voice</p>
                    <h4 class="our-programm__h4">— Vocabulary</h4>
                    <p class="our-programm__text">Home<br> School<br> Work</p>
                </li>
                <li class=our-programm__list-outter>
                    <h3 class="our-programm__h3">3 семестр</h3>
                    <h4 class="our-programm__h4">— Grammar</h4>
                    <p class="our-programm__text">Modal verbs <br>Infinitive Gerund<br> Participle: 1, 2</p>
                    <h4 class="our-programm__h4">— Vocabulary</h4>
                    <p class="our-programm__text">Travel & Tourism<br> Culture & Free Time Sport</p>
                    <h4 class="our-programm__h4">— Writing</h4>
                    <p class="our-programm__text">Informal Letter</p>
                </li>
                <li class=our-programm__list-outter>
                    <h3 class="our-programm__h3">4 семестр</h3>
                    <h4 class="our-programm__h4">— Grammar</h4>
                    <p class="our-programm__text">Clauses: Conditional and <br>Wishes <br>Direct / Reported speech <br>Preposition <br>Conjunction Numeral</p>
                    <h4 class="our-programm__h4">— Vocabulary</h4>
                    <p class="our-programm__text">Healthy Living <br>Nature & Environment<br> Money</p>
                    <h4 class="our-programm__h4">— Writing</h4>
                    <p class="our-programm__text">Formal Letter</p>
                </li>
                <li class=our-programm__list-outter>
                    <h3 class="our-programm__h3"> 5 семестр</h3>
                    <h4 class="our-programm__h4">— </h4>
                    <p class="our-programm__text">Revision <br> Tests</p>
                </li>
            </ul>
            </div>
            <!-- <img class="teacher-img" src="./images/our-program/our-programmimg.jpg" alt="Елена Морева" /> -->
       
        </div>
        <div class="why-we">
            <H2 class="why-we__h2">Почему нас выбирают</H2>
            <ul class="why-we__list">
                <li>
                    <p class="why-we__h3">— 01</p>
                    <p class="why-we__p">Обучение в малых командах</p>
                </li>
                <li>
                    <p class="why-we__h3">— 02</p>
                    <p class="why-we__p">Визуализированные конспекты</p>
                </li>
                <li>
                    <p class="why-we__h3">— 03</p>
                    <p class="why-we__p">Каждое занятие имеет цель и конкретный результ</p>
                </li>
                <li>
                    <p class="why-we__h3">— 04</p>
                    <p class="why-we__p">Реальные результаты преподавателя</p>
                </li>
                <li>
                    <p class="why-we__h3">— 05</p>
                    <p class="why-we__p">Прогамма курса соответствует требованиям МОН Украин</p>
                </li>
                <li>
                    <p class="why-we__h3">— 06</p>
                    <p class="why-we__p">Набор команд по уровням знаний</p>
                </li>
            </ul>
        </div>
    </div>

</section>
