.features {
}
.section {
}
.container {
}
.features_title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}
.features-list {
  display: flex;
  width: 1344px;
  height: 102px;
  margin-left: 183px;
  margin-right: 153px;
  margin-bottom: 130px;
}
.features-list_item {
  display: flex;
  width: 1344px;
  height: 102px;
  margin-left: 183px;
  margin-right: 153px;
  margin-bottom: 130px;
}
.features-list_icon {
  display: block;
  margin: 0 auto 20px;
  width: 40px;
  height: 40px;
}
.features-list_title {
  margin-bottom: 0;
  margin-top: 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.429;
  text-align: center;
  letter-spacing: 0.08em;
}
