.our-programm-section {
  position: relative;
  background: $black;
}

.our-programm {
  // display: block;
  height: 2050px;
  background: $black;
}

.our-programm_thumb {
  display: flex;
}
.our-programm__h2 {
  padding-top: 50px;
  margin-bottom: 43px;
  text-align: center;
  @include font(800, 20px, 1.3, center, 0.03em);
  color: $white;
}

.our-programm__list {
  padding-left: 88px;
  // padding-right: 40px;
}

.our-programm__list-outter {
  padding-bottom: 40px;
}

.our-programm__h3 {
  @include font(700, 14px, 2, left, 0.08em);
  text-transform: uppercase;
  color: $white;
  margin-left: -30px;
  margin-bottom: 12px;
}

.our-programm__h4 {
  @include font(700, 12px, 1.667, left, 0.08em);
  margin-bottom: 14px;
  color: $orange;
}

.our-programm__text {
  @include font(500, 12px, 1.667, left, 0.08em);
  margin-bottom: 14px;
  color: $grey;
  opacity: 0.5;
}

.our-programm__h3::before {
  display: inline-block;
  content: ' ';
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: $orange;
  margin-right: 20px;
}

// .our-programm__list-inner {
//   padding-top: 8px;
// }
// .our-programm-section {
//   position: relative;
// }

.teacher-img {
  width: 120px;
  height: 100px;
}

.why-we {
  position: absolute;
  top: 1563px;
  width: 280px;
  height: 718px;
  margin: 0 auto;
}

.why-we__h2 {
  width: 180px;
  margin-bottom: 30px;
  @include font(800, 20px, 1.365, left, 0.08em);
  color: $white;
}

.why-we__list {
  padding: 20px 14px 20px 30px;
  background-color: $white;
}

.why-we__h3 {
  @include font(700, 14px, 1.643, left, 0.08em);
  color: $orange;
  margin-bottom: 10px;
}

.why-we__p {
  @include font(700, 14px, 1.429, left, 0.08em);
  width: 216px;
  margin-bottom: 20px;
  // &:not(:last-child) {
  //   margin-bottom: 20px;
  // }
}

// .why-we__div {
//   background-color: transparent 60%;
// }
